<h1 class="d-flex justify-content-center">Problem Set 1: Basics</h1>

  <div class="container">
    <h3>Divide By Zero Exception</h3>
    <p>
      At production level, the error or bug happening on the server do not need to be shown.
      This is because attackers who wants to hack the server might find this information useful to them.
      However, for the developer, this information is needed to debug the error.
      Thus, rails show the user-friendly error page in development mode when request are local.
      Setting <em>consider_all_requests_local=true</em> tells the server to consider all requests as local.
      This enable to see user-friendly error page in production mode.
    </p>
    <p>
      Before dividing by zero, the message "About to divide by zero" is written to log
      to helps the developer why this happen. This logging process is achieved by using <em>logger.debug</em>.
    </p>





<br>
<h1>Headlines#today</h1>
<p>Top News from Bangkok post and The Newyork Times</p>
<br>
      <li><a href="https://www.bangkokpost.com/">Latest Headlines of Bangkok post</a></li>

<br>
<br>
      <li><a href="https://www.nytimes.com/">Latest Headlines of NewYork post</a></li>
