<h1 class="text-center">Ps6</h1>

  <h2>USER EVALUATION</h2>
  <br>
    <h2>Feedback , Review and Action Plan</h2>
    <br>
   <div class="question-1 card">
    <div class="card-body">
      <h3 class="card-title">Tour the other projects being developed by two other teams.</h3>
      <p>web3 should evaluate web6 and web8</p>
      <ul>
        <li>On Process</li>
      </ul>
    
    </div>
  </div>
  
  <div class="question-2 card">
    <div class="card-body">
      <h3 class="card-title">Get feedback on your system from a member of the target user community who is not in our class.</h3>
<h4>Reviewed by A student studying in JNTU College of Engineering Hyderabad, India</h4>

<p>I have got him to try out the user registration and content management features I have implemented. He tested all the features and tested the content. <p>
   </div>
  </div>
  

<br>
  <div class="question-3 card">
    <div class="card-body">
      <h3 class="card-title">Brief summary of the criticism I have received. </h3>
      <p>
    Many, have criticized that Admin is the only person who can add a user, as the user management system functions internally. Also, they asked for staff members to have functionalities as admin. Other thing is that to provide more features such as live blogs, chat boxes, and etc in the future.</p>
   <h4> Action plan </h4>
    <p>In the next version of my system I will revise all the criticizms and try to work out on many new features for the community website.</p>
    </div>
  </div>
