<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<br>
<h3 style="text-align:center">
 
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="#">Site Contents</a>
      <span class="navbar-toggler-icon"></span>
    </button>
    <br><br>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="http://[::1]:3000/home">About us</a>
        <a class="nav-link" href="http://[::1]:3000/users/sign_up">Sign up</a>
        <a class="nav-link" href="http://[::1]:3000/admin/login">Admin Login</a> 
                <a class="nav-link" href="http://[::1]:3000">Signout</a> 
            
       <h1 style="text-align:topright">
        <p class="text-right" >
      <%= image_tag 'logo.png', alt: "Student Government on Campus", class: 'img-responsive',width: 200, height: 200 %>
    </p>
    </h1>
    </div>
  </div>
  <h1 style="text-align:center"><b><i>Student Community Assistance</i></b></h1>
</nav>
</h3>



<br>




<h1 style="text-align:center">Advice & Support</h1>

<h3>University is a big, exciting place. But life isn’t always easy. We’re here to give you support when you need us, care about the things you care about, and fight for you when need someone in your corner. Our job is to make sure you feel supported every day.There is lots of support available ready when you need it. Book in time to chat to an advisor.

</h3>

<h1 style="text-align:center">
        <p class="text-center" >
      <%= image_tag 'support.png', alt: "Student Government on Campus", class: 'img-responsive',width: 350, height: 250 %>
    </p>
    </h1>
    


        <ul>
           <li>ADVICE</li>

           <h3>Life isn’t always easy but we’re always here to give you support and advice when you need us. We’re in your corner when you need us.</h3>
                              <br>
          <li>SUPPORT</li>
                   <br>
         <h3>Ongoing support to help improve your reading, writing and well-being.
         </h3>                 
          <br>
          <li>SAFETY</li>
                   <br>
           <h3>Our Community also has an extensive list of useful information for staying safe in and around UCL, as well as staff members working to tackle crime on campus. </h3>
                              <br>
                              
                              
                              
           <li>  <h3>Click Here for more Support from our Community </h3></li>
<h2 style="text-align:center">
     <a href="http://[::1]:3000/support/indexc">Support Services</a></h2>
     
          <li>FIND HELP</li>
                   <br>
           <h3>We're always there with oyu when you need us </h3>
           <br>
              </ul>


<h1 style="text-align:center">Cultural Diversity</h1>

<section class="c-three-column"><h2>Worship rooms</h2><div class="c-three-column__desc">These will ensure the students and staff of all faiths will reliably find dedicated spaces to pray and practice their faith. These are safe spaces available for staff and students to meet, pray, reflect, meditate or simply take some time for yourself.</div><div class="c-three-column__row"><div class="c-three-column__col"><div class="c-three-column__card"><div class="card-image"> <img style="text-align:center"data-src="https://ait.ac.th/wp-content/uploads/2021/11/image17.jpg" src="https://ait.ac.th/wp-content/uploads/2021/11/image17.jpg"></div><div class="card-text"><div class="card-title">Hindu</div><div class="card-subtitle"></div></div></div></div><div class="c-three-column__col"><div class="c-three-column__card"><div class="card-image"> <img class=" lazyloaded" data-src="https://ait.ac.th/wp-content/uploads/2021/12/Masjid-muslim-prayer-room-02.jpg" src="https://ait.ac.th/wp-content/uploads/2021/12/Masjid-muslim-prayer-room-02.jpg"></div><div class="card-text"><div class="card-title">Muslim</div><div class="card-subtitle"></div></div></div></div><div class="c-three-column__col"><div class="c-three-column__card"><div class="card-image"> <img class=" lazyloaded" data-src="https://ait.ac.th/wp-content/uploads/2021/12/Chapel-of-the-holy-spirit-03.jpg" src="https://ait.ac.th/wp-content/uploads/2021/12/Chapel-of-the-holy-spirit-03.jpg"></div><div class="card-text"><div class="card-title">Christian</div><div class="card-subtitle"></div></div></div></div></section><div class="c-img-text"><div class="wrapper"><div class="c-img-text__group "><div class="c-img-text__box --img "><div class="c-img-text__box --imgsize"> 



</div></div>
<div class="c-img-text__box --content"><h1 class="c-img-text__title">Cultural shows</h1><div class="c-img-text__detail"><p>Each year, our cultural student organizations provide campus-wide programming to celebrate diversity. These shows typically happen once a year and are a great opportunity to join together and learn about another culture.</p><ul><li>Name of the featured cultural show</li><li>Name of the featured cultural show</li></ul></div><div class="c-img-text__group-list"></div></div></div></div></div><div class="c-img-text"><div class="wrapper"><div class="c-img-text__group --reverse"><div class="c-img-text__box --img "><div class="c-img-text__box --imgsize"> <img class=" lazyloaded" data-src="https://ait.ac.th/wp-content/uploads/2021/11/image23.jpg" src="https://ait.ac.th/wp-content/uploads/2021/11/image23.jpg"></div></div><div class="c-img-text__box --content"><h2 class="c-img-text__title">International food festival</h2><div class="c-img-text__detail"><p>The International Food Festival celebrates the diversity of our campus community with an equally diverse range of delicious food from across the world. In the event, there are a lot of National foods from various countries and amazing with unique cultural performance from a large number of students,international.</p></div><div class="c-img-text__group-list"></div></div></div></div></div></div>

<br>


<h1 style="text-align:center">Campus Elections</h1>

<h3>The more students who vote, the more powerful student voices become. Elected students need your backing to make big changes. Get behind student power, just by voting.
</h3>

        <ul>
           <li>Why voting matters</li>

           <h3>A new team of student leaders will be elected this week. It makes sense to choose who they are. They work for you after all, representing you to our Student Community.You’re part of the community, even if you haven’t always felt like it. By voting this week, you’ll have a say in what kind of community you’re part of.</h3>
                              <br>
                                                           
                              
<h3 style="text-align:center">
<a class="wp-block-button__link" href="" target="_blank" rel="noreferrer noopener">Nominations for our Elections have now opened!</a></h3>
<br>


                             <li>View Election Stats</li><br>
                             <p>THe Election Results can be viewed from the below results. Everything about stats is included below.</p>
<h3 style="text-align:center">
     <a href="http://[::1]:3000/election/indexb">Election Results</a></h3>
                              <br>      
                                                                        
          <li>FAQ's</li>
                   <br>            

<div class="alignfull-container"><div class="ckeditor-accordion-container"><dl class="styled">
    <dt><a class="ckeditor-accordion-toggler" href="#"><span class="ckeditor-accordion-toggle"></span>How do elections take place?</a></dt><dd><p>Campaigning will take place online and in-person. Candidates can share a manifesto to attract voters. Students will vote via a secure part of our website. </p></dd>
    <dt><a class="ckeditor-accordion-toggler" href="#"><span class="ckeditor-accordion-toggle"></span>What happens if I win?</a></dt><dd><p>You will find out on Friday 28 October whether you have been successful. You will be invited to further training and meetings from Monday 31 October onwards. </p></dd>
    <dt><a class="ckeditor-accordion-toggler" href="#"><span class="ckeditor-accordion-toggle"></span>Who can vote for me?</a></dt><dd><p><strong>Everyone who is eligible to stand for a&nbsp;position is able to vote for that position</strong>. Some positions, like NUS Delegate are open to all students and therefore all students will be able to vote. On the other hand, only Research students can nominate and vote in the Research Students' Officer election. </p></dd>
    <dt><a class="ckeditor-accordion-toggler" href="#"><span class="ckeditor-accordion-toggle"></span>What are the rules?</a></dt><dd><p>In order for our elections to be fair, transparent and legally compliant, there are a number of rules and regulations that must be followed. We have condensed them to be as clear and easy to understand as possible. <a href="" target="_blank" rel="noreferrer noopener">The election rules can be found here.</a></p></dd>
    <dt><a class="ckeditor-accordion-toggler" href="#"><span class="ckeditor-accordion-toggle"></span>How do I submit a complaint?</a></dt><dd><p>If you believe one of the election rules has been broken, you can submit an <a href="">official complaint</a>.</p></dd>
    </dl></div></div>
<br>
</li>
                </ul>
<br>

<h1 style="text-align:center">Career Assistance</h1>
<div class="c-img-text"><div class="wrapper"><div class="c-img-text__group "><div class="c-img-text__box --img "><div class="c-img-text__box --imgsize"> <img class=" lazyloaded" data-src="https://ait.ac.th/wp-content/uploads/2021/11/Career-center.jpg" src="https://ait.ac.th/wp-content/uploads/2021/11/Career-center.jpg"></div></div><div class="c-img-text__box --content"><h2 class="c-img-text__title">Career center</h2><div class="c-img-text__detail"><p>The Career Center assists students and alumni in making informed decisions by providing the resources, programs and counseling that will lead them to different career options, internship opportunities, part-time (on and off-campus) jobs, exchange programs or ideas where to go best for further education.</p></div><div class="c-img-text__group-list"></div> <a href="" class="o-btn slide-button" target="_blank">Learn more</a></div></div></div></div><div class="c-img-text"><div class="wrapper"><div class="c-img-text__group "><div class="c-img-text__box --img "><div class="c-img-text__box --imgsize"> <img class=" ls-is-cached lazyloaded" data-src="https://ait.ac.th/wp-content/uploads/2021/11/Internship-programs.jpg" src="https://ait.ac.th/wp-content/uploads/2021/11/Internship-programs.jpg"></div></div><div class="c-img-text__box --content"><h2 class="c-img-text__title">Internship programs</h2><div class="c-img-text__detail"><p>An internship is a pre-professional work term that provides students, recent graduates and those seeking to change career paths, with an opportunity to gain experience in a particular field. oor Commuity encourage students to pursue experiential learning opportunities during their studies.</p></div><div class="c-img-text__group-list"></div> <a href="" class="o-btn slide-button" target="">Find opportunities</a></div></div></div></div></div>



<br>

    
    
    
    
    <footer id="footer" class="clearfix">
    <div class="container">
    <div class="">
    <div class="footer-area">
    <div class="region region-footer">
    <nav role="navigation" aria-labelledby="block-footer-2-menu" id="block-footer-2" class="block block-menu navigation menu--footer">
    <h1 style="text-align:center">Website Summary</h1>
    <div class="content">
    <div class="menu-toggle-target menu-toggle-target-show" id="show-block-footer-2"></div>
    <div class="menu-toggle-target" id="hide-block-footer-2"></div>
    <a class="menu-toggle" href="#show-block-footer-2">Menu</a>
    <a class="menu-toggle menu-toggle--hide" href="#hide-block-footer-2">Menu</a>
    <ul class="clearfix menu">
    <li menu-id="1" class="menu-item menu-item--1">
    <h2>Self Service</h2>
    <ul class="clearfix menu">
    <li menu-id="1" class="menu-item menu-item--1">
    <a href="http://[::1]:3000/users/sign_up" data-drupal-link-system-path="user/login"> Login
    </a>
    </li>
    </ul>
    </li>
    <li menu-id="2" class="menu-item menu-item--2">
    <h2>Top Links</h2>
    <ul class="clearfix menu">
    <li menu-id="1" class="menu-item menu-item--1">
    <a href=""> JobShop vacancies
    </a>
    </li>
    <li menu-id="2" class="menu-item menu-item--2">
    <a href=""> Privacy and data protection
    </a>
    </li>
    <li menu-id="3" class="menu-item menu-item--3">
    <a href="" data-drupal-link-system-path="node/139096"> Presidents &amp; Treasurers Hub
    </a>
    </li>
    </ul>
    </li>
    <li menu-id="3" class="menu-item menu-item--3 menu-footer-icons">
    <h2>Follow us</h2>
    <ul class="clearfix menu">
    <li menu-id="1" class="menu-item menu-item--1">
    <a> Facebook
    </a>
    </li>
    <li menu-id="2" class="menu-item menu-item--2">
    <a> Instagram
    </a>
    </li>
    <li menu-id="3" class="menu-item menu-item--3">
    <a> Twitter
    </a>
    </li>
    </ul>
    </li>
    <li menu-id="4" class="menu-item menu-item--4">
    <h2>Useful info</h2>
    <ul class="clearfix menu">
    <li menu-id="1" class="menu-item menu-item--1">
    <a href="https://studentsunionucl.org/node/82366" title=""> Contact us
    </a>
    </li>
     <li menu-id="2" class="menu-item menu-item--2 menu-item--collapsed">
    <a href="" title=""> About us
    </a>
    </li>
    <li menu-id="3" class="menu-item menu-item--3">
    <a href=""> Work for us
    </a>
    </li>
    <li menu-id="4" class="menu-item menu-item--4">
    <a href="https://studentsunionucl.org/node/138014" title=""> Advertising at Student Community
    </a>
    </li>
    <li menu-id="5" class="menu-item menu-item--5">
    <a href=""> Sitemap
    </a>
    </li>
    </ul>
    </li>
    </ul>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </footer>
    
    
    
    
    
    <h1 style="text-align:center">Connect to our Community for any Assistance </h1>
    <div class="wrapper">
    <h1 style="text-align:center">
        <p class="text-center" >
      <%= image_tag 'CommunityConnect_Logo-390x146.png', alt: "Student Government on Campus", class: 'img-responsive',width: 300, height: 300 %>
    </p>
    </h1>
        <div class="top">
            <%= form_with scope: :comment, url: '/comment/store', local: true do |form| %>
            <div class="form-group">
                <%= form.label :comment %>
                <%= form.text_field :comment %>
                <%= form.submit %>
            </div>

            <% end %>
        </div>
        <div class="bottom" id="comment_section">
            <h2>Comments</h2>
            <% @comments.each do |comment| %>
                <p><%= comment.comment %></p>
            <% end %>
        </div>  
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

