
  <h1 class="text-center">Pss4</h1>

  <h3>User Management</h3>
  <br>
  <p>
    
    Admin is the only person who can add a user, as the user management system functions internally.
    Follow the below credentials to login as the Admin.
  </p>
  <pre>

  <pre>
    E-mail: admin@example.com
    Password: password
  </pre>

  <%= link_to 'Student Governance on campus', 'http://127.0.0.1:3000/' %>


  <div class="question-1 card">
    <div class="card-body">
      <h3 class="card-title">All social Web applications have users, content, and some kind of user-to-content map. Specify what kind of information each of these areas will have in your application.</h3>
      <p>Admin</p>
      <ul>
        <li>Add Users</li>
        <li>View Users</li>
        <li>Ban Users</li>
        <li>Edit User Profile</li>
      </ul>
      <p>staff</p>
      <ul>
          <li>Support Student </li>
                  <li>Conduct Elections</li>            
                  <li>Acquire participants list</li> 
                                <li>Get student feedback</li>           
        <li>Acquire voters list</li>
      </ul>
      <p>Students</p>
      <ul>
              <li>Get assistance from community</li>            
              <li>Post feedback</li>       
                   
        <li>Apply for president post</li>

        <li>Apply for treasurer post</li>
      </ul>
    </div>
  </div>
  
  <div class="question-2 card">
    <div class="card-body">
      <h3 class="card-title">Learn how to avoid SQL injection and XSS attacks in your development framework and document and follow your plan for the rest of the project.</h3>
<h4>XSS Attacks</h4>

<p>Cross-site scripting is a very common injection type of web application vulnerability. 
It allows attackers to inject any type of client-side script which is then executed by the victims’ browsers in their browsing<p>

<h5>Measures against Xss attacks</h5>

    <ul>
        <li>Html escaping</li>
</ul>
      <h4>SQL Injection</h4>
      <p>SQL injection is an injection-based attack in web applications where the attacker enters data in the input field with the aim of manipulating SQL queries. 
      Generally to launch an SQL injection, the attackers needs to know about the data schema and/or needs to have some input data not validated. </p>
      <h5>Counter-measures against SQL Injection for Rails</h5>
      
      <ul>
        <li>Sanitizing input data</li>
        <li>Removing insecure gems</li>
      </ul>
    </div>
  </div>

  <div class="question-3 card">
    <div class="card-body">
      <h4 class="card-title">Audit your software for any sensitive data like database passwords make sure they are secure. </h4>
      <p>This project has used the many secure gem files. One of them is the 'Device'. Device is used for auditing software for making passwords secure.</p>
    </div>
  </div>

  <div class="question question-4 card">
    <div class="card-body">
      <h2 class="card-title">Define your user data model</h2>
      <%= image_tag 'Uml.png', alt: 'Data Model' %>
                      <%= image_tag 'ps4q4.png', alt: 'Data Model', style: 'height:auto;width:70%;'  %>
    </div>
  </div>
  <br>

  <div class="question-5 card">
    <div class="card-body">
      <h4 class="card-title">Sketch your user registration and management page flow</h4>
      <div class="row">
        <div class="col-6">
          <%= image_tag 'User-registration-workflow.png', alt: 'Data Model', style: 'height:auto;width:50%;'  %>
        </div>
        <div class="col">
          <%= image_tag 'ps4q5.png', alt: 'Data Model', style: 'height:auto;width:50%;'  %>
     
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="question-6 card">
    <div class="card-body">
      <h4 class="card-title">Using the techniques of test-first behavior-driven development we've studied in class and lab,
        build up the basic user registration and login pages. Make sure you have SSL enabled for the complete
        application to prevent password sniffng, make sure your session cookies are HttpOnly.</h4>
      <h4 class="text-center">Cucumber Testand User Login</h4>
      <div class="d-flex align-items-end justify-content-center">
        <%= image_tag 'feature_admin.png', alt: 'Cucumber Test for Feature Admin', style: 'height:auto;width:40%;'%>

      </div>
      <p>'Devise' gem and 'Devise-users'was used to build up registration and login pages.</p>
    </div>
  </div>

  <br>

  <div class="question-7 card">
    <div class="card-body">
      <h4 class="card-title">Again using BDD, build the user administration pages. Make sure admin can 1) see recently registered
        users, 2) ban a user, and 3) see statistics on user registrations.</h4>
                <%= image_tag 'feature_admin.png', alt: 'Cucumber Test for Feature Admin', style: 'height:auto;width:40%;'%>
    </div>
  </div>

  <div class="question-8 card">
    <div class="card-body">
      <h4 class="card-title">Use your issue tracker and CI server to their full potential. Start an issue in the issue tracker before
you begin any work. Get email notication of broken builds running, and get the CI server to report
test coverage and code quality metrics.</h4>
      <h4 class="text-center">CI/CD Pipeline</h4>
      <%= image_tag 'Ci_tracker.png', alt: 'CI/CD Pipeline' %>
 
    </div>
  </div>

  <br/>
  <br/>
</div>






