<div id="page-inside">
<div id="top-content">
<div id="top-content-inside" class="clearfix">
<div class="row">
<div class="col-md-12">
<div class="region region-top-content">
<div data-drupal-messages-fallback="" class="hidden"></div><div data-drupal-messages="">
    <div role="contentinfo" aria-label="Status message" class="messages messages--status">
                  <h2 class="visually-hidden">Status message</h2>
                    You need to log in to vote.
            </div>
    </div>

<div id="block-portico-sunset-breadcrumbs" class="block block-system block-system-breadcrumb-block">
	
		
			<div class="content">
				<nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
		<h2 id="system-breadcrumb" class="visually-hidden">Content</h2>
		<ol>
	
							<li>
											Rep Elections 2022
									</li>
					</ol>
	</nav>

		</div>
	</div>
<div id="block-portico-sunset-local-actions" class="block block-core block-local-actions-block">
<nav class="action-links"></nav>
</div>

</div>
</div>
</div>
</div>
</div>
<div id="main-content" class="">
<div class="row g-0">
<section id="page-content-container" class="col-md-8 col-s-12">
<div id="main" class="clearfix">
<div class="region region-content">
<div id="block-portico-sunset-content" class="block block-system block-system-main-block">
<div class="content">
<div class="election">
<div class="election__status_summary">
<p class="election_phase election_phase__status_closed election_phase__eligible_ineligible">
<span class="election_phase__label">
<b>Nominations</b>:</span>
<span class="election_phase__status">
Nominations closed
</span>
</p>
<p class="election_phase election_phase__status_over election_phase__eligible_ineligible">
<span class="election_phase__label">
<b>Voting</b>:</span>
<span class="election_phase__status">
Voting closed Friday 28/10/2022 - 12.00
</span>
</p>
</div>
<div class="clearfix text-formatted field field--name-description field--type-text-long field--label-hidden field__item"><p>.</p></div>
<h2>
Positions
</h2>
<div class="election__posts">
<div class="views-element-container"><div class="js-view-dom-id-dc3ac73045eed59663f3427807d677569ac896b9fe8918f04499e82bbfcd27bb" data-once="ajax-pager">
<div class="view-exposed">
<form class="views-exposed-form" data-drupal-selector="views-exposed-form-election-posts-for-election-page-embed" action="/election/rep-elections-2022" method="get" id="views-exposed-form-election-posts-for-election-page-embed" accept-charset="UTF-8" data-once="form-updated exposed-form" novalidate="novalidate" data-drupal-form-fields="edit-combine,edit-field-election-post-category-target-id-entityreference-filter">
<div class="form--inline clearfix">
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-combine form-item-combine">
<label for="edit-combine">Search</label>
<input data-drupal-selector="edit-combine" data-msg-maxlength="This field field has a maximum length of 128." type="text" id="edit-combine" name="combine" value="" size="30" maxlength="128" class="form-text">
</div>
<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-election-post-category-target-id-entityreference-filter form-item-field-election-post-category-target-id-entityreference-filter">
<label for="edit-field-election-post-category-target-id-entityreference-filter">Category</label>
<select data-drupal-selector="edit-field-election-post-category-target-id-entityreference-filter" id="edit-field-election-post-category-target-id-entityreference-filter" name="field_election_post_category_target_id_entityreference_filter" class="form-select" style="display:visible; position:absolute; width:0px; height: 0px; clip:rect(0,0,0,0)" tabindex="-1"><option value="All" selected="selected">- Any -</option><option value="43769">Club and Society positions</option><option value="43775">Sabbatical Officers</option><option value="43790">Student Officers</option><option value="43791">NUS Delegates</option><option value="44197">Hall Representatives</option><option value="44198">Faculty Representatives</option><option value="44199">Student Trustees</option><option value="44200">Activities Reps</option><option value="44201">Welfare Reps</option><option value="44202">Networks</option></select><div class="chosen-container chosen-container-single form-select" title="" id="edit_field_election_post_category_target_id_entityreference_filter_chosen" style="width: 193px;"><a class="chosen-single">
  <span>Club and Society positions</span>
  <div><b></b></div>
</a>
<div class="chosen-drop">
  <div class="chosen-search">
    <input class="chosen-search-input" type="text" autocomplete="off">
  </div>
  <ul class="chosen-results"><li class="active-result result-selected" data-option-array-index="0">- Any -</li><li class="active-result result-selected" data-option-array-index="1">Club and Society positions</li><li class="active-result" data-option-array-index="2">Sabbatical Officers</li><li class="active-result" data-option-array-index="3">Student Officers</li><li class="active-result" data-option-array-index="4">NUS Delegates</li><li class="active-result" data-option-array-index="5">Hall Representatives</li><li class="active-result" data-option-array-index="6">Faculty Representatives</li><li class="active-result" data-option-array-index="7">Student Trustees</li><li class="active-result" data-option-array-index="8">Activities Reps</li><li class="active-result" data-option-array-index="9">Welfare Reps</li><li class="active-result" data-option-array-index="10">Networks</li></ul>
</div></div>
</div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-election-posts-for-election-page" type="submit" id="edit-submit-election-posts-for-election-page" value="Apply" class="button js-form-submit form-submit">
</div>
</div>
</form>
</div>
<div data-drupal-views-infinite-scroll-content-wrapper="" class="views-infinite-scroll-content-wrapper clearfix"><table class="views-table views-view-table cols-2" eligibility="Nominations closed" style="order: 10000;">
<caption>
Nominations closed
</caption>
<thead>
<tr>
<th id="view-name-table-column" class="views-field views-field-name" scope="col"><a href="?combine=&amp;field_election_post_category_target_id_entityreference_filter=All&amp;order=name&amp;sort=asc" title="sort by Position name" rel="nofollow">Position name</a></th>
<th id="view-election-post-actions-table-column" class="views-field views-field-election-post-actions" scope="col">Actions</th>
</tr>
</thead>
<tbody>
<tr>
<td headers="view-name-table-column" class="views-field views-field-name"><a href="/election/rep-elections-2022/arts-officer-0" hreflang="en">President</a> </td>
<td headers="view-election-post-actions-table-column" class="views-field views-field-election-post-actions"> <div class="election_actions_container election_post__actions_container">
<a class="btn button button-- election_action election_post__action" href="/election/rep-elections-2022/arts-officer-0?results=1">
View results
</a>
</div>
</td>
</tr>
<tr>
<td headers="view-name-table-column" class="views-field views-field-name"><a href="/election/rep-elections-2022/research-students-officer-0" hreflang="en">Secretary</a> </td>
<td headers="view-election-post-actions-table-column" class="views-field views-field-election-post-actions"> <div class="election_actions_container election_post__actions_container">
<a class="btn button button-- election_action election_post__action" href="/election/rep-elections-2022/research-students-officer-0?results=1">
View results
</a>
</div>
</td>
</tr>


          <tr>
                                                                                        <td headers="view-name-table-column--c3JlVHsLoEE" class="views-field views-field-name"><a href="/election/rep-elections-2022/womens-students-network-social-secretary-0" hreflang="en">Treasurer</a>          </td>
                                                                                        <td headers="view-election-post-actions-table-column--8BVbbKmcUTo" class="views-field views-field-election-post-actions">	<div class="election_actions_container election_post__actions_container">
					<a class="btn button button-- election_action election_post__action" href="/election/rep-elections-2022/womens-students-network-social-secretary-0?results=1">
				View results
			</a>
			</div>
          </td>
              </tr>
      </tbody>
</table>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<aside id="sidebar" class="col-md-4 col-s-12 col-xs-12">
<section id="sidebar-second" class="sidebar clearfix">
<div class="region region-sidebar-second">
<div id="block-unionelectionstatisticsblock" class="block block-su-election-stats block-su-election-stats-block">
<h2 class="title">Voting statistics</h2>
<div class="content">
<div class="election_stats__big_counter">1428</div><div class="election_stats__big_counter_label">voters</div><a href="/election/rep-elections-2022/dashboard" class="btn button">View live stats</a>
</div>
</div>
</div>
</section>
</aside>
</div>
</div>
</div>
