<div class="">
  <br>
  <h1 class="text-center">PS 5</h1>

  <div class="question-1 card">
    <div class="card-body">
      <h5 class="card-title">
      -> Think about how to classify each of the types of content on your site. Articles, comments on articles,
      news items, questions and answers, documents to be approved or rejected with comments, and so on.
      Each type of content may require a different data model and moderation/approval/versioning process.
      </h5>
      <pre>
  There is one type of content on our site.
     - Student record
      </pre>
    </div>
  </div>

  <div class="question-2 card">
    <div class="card-body">
      <h5 class="card-title">
       -> Design your content data model and discuss the implications of your design choices with potential
       users of the system. In general, there should be at least one category of user-submitted content with
       authoring workflow specific to your project and at least one question and answer forum. However,
       the specifics will be very dependent on your project’s requirements. Document the design and your
       discussions on your site.
      </h5>
      <p>Design For Content data Model</p>
      <p>There is one category of user-submitted content with authoring workflow.</p>
      <p class="text-center"><%= image_tag 'diagram.png', alt: "content data model", class: 'img-responsive', width: 800, height: 400 %></p>
    </div>
  </div>

  <div class="question-3 card">
    <div class="card-body">
      <h5 class="card-title">
        -> Specify the workflow for each kind of content on your site and discuss the implications of your design
        choices with potential users of the system. 
      </h5>

      <h3>The workflow for each kind of content on my site is STUDENT content model</h3>
      <br/>
      <div class="workflow">
        <h6>
          The Student record is created by the staff.
        </h6>
        <p class="text-center"><%= image_tag 'voter-record-mgmt-staff.png', alt: "voter record workflow by staff", class: 'img-responsive', width: 500, height: 300 %></p>
      </div>

      <div class="workflow">
        <h6>
        Staff conducts elections and participants are being elected by the voters .
        </h6>
      </div>

      <div class="workflow">
        <h6>
         voter poll their votes .
         staff counts the votes for participants
        </h6>
        <p class="text-center"><%= image_tag 'voter-staff-partcipant record mgmt.png', alt: "voter record workflow by staff and participant", class: 'img-responsive', width: 500, height: 300 %></p>
      </div>
 
    </div>
  </div>

  <div class="question-4 card">
    <div class="card-body">
      <h5 class="card-title"> -> Design your versioning system. What is the versioning system for each type of content? 
      Do you need a complete history of every version, or just a current version with the author of the last version? 
      Make sure you think carefully about the needs of the user community. </h5>

      <h6>voter Record</h6>
      <p>The Versioning system for the voter record is designed to track the changes made to the documents containing information about the voter.
        In other words, each version of the document would be tracked. It is to be noted that most probably, multiple documents will be stored for a particular
        patient. In this design, each version of the document would be tracked independently of the other. The information of the version tracked will be displayed
        in a version table illustrated below.</p>
<br>
      <p>The table below demonstrates the tracking of a particular document ‘voter list’ for the participants. </p>
      <%= image_tag 'version2.png', alt: 'voter', style: 'height:auto;width:30%;' %>

      <p>For versioning, the increase by a number in the version number indicates the change made to the previous version. Next, in the future
        implementation and depending needs of the organization, the first time a document was added for the voter. It will increse the version from one to another. For example, if the current version of the document is 1.5 and a major change was made to the document, its next version would be 2.0. </p>

      <br>

      <h6>Staff</h6>
      <p>Apart from recording Student information, the organization will also collect and save studnet data for data visualization to get some feedbacks,
        like the number of students posting feedback, the number of students getting advices. For this content, the versioning
        system is designed to track all the new data added to the current data. Then, the organization can go back to any previous version of data used for data
        visualization for reference and/or other reasons. The format for keeping track of each version will be similar to the document being tracked for a student
        shown in the table above.</p>

      <br>

      <h6>voter record</h6>
      <p>For the versioning system for the staff list, only the current version needs to be tracked.The record date is announced by the company as the official date you must be an owner on the company's records in order to participate in the annual meeting and corporate election.</p>

      <br>

      <h6>participants</h6>
      <p>Electoral participation rates depend on many factors, including the type of electoral system, the social groupings to which voters belong.</p>

      <br>

      <h6>Questions by Students</h6>
      <p>For the inquiries made by the voters, only the current version is enough. After each question is answered, it can be discarded from the system database and no longer needs to be tracked. </p>

      <br>

    </div>
  </div>

  <br>

  <div class="question-5 card">
    <div class="card-body">
      <h5 class="card-title">-> Write UATs for a “skeletal” implementation of the workflow for at least one type of content on your site then get the UATs to pass.
        Users should be able to get something up on your server and see it published.</h5>
      <h4>UAT Test for Admin User</h4>
      <h6><i>Test Scenarios</i></h6>
      <p>These are the following test scenarios to be verified for testing the functionality.</p>
      <ul>
        <li>Sign In</li>
        <li>Add User</li>
        <li>Delete User </li>
      </ul>
      <h6><i>UAT Testcases can be observed further</i></h6>
      
          </div>
  </div>

  <br>
  <br>
</div>

