
<div class="container">
  <hr/>
  <section id="overview">
    <h2 class="text-center">Student Community Assistance</h2>
        <p class="text-center">
      <%= image_tag 'student.png', alt: "Student community on Campus", class: 'img-responsive', width: 450, height: 450 %>
    </p>

      <div>
      <h3>Website Objective</h3>
           <p>--> Student Community provides students a considerable opportunity to explore their interests on various aspects on campus</p>
      <br>
            <p>--> Students can go on with discussions / forums through this Online Community, they can discuss about Elections, can know about the paticipants</p>
                  <br>
      <p>--> Participants who stand for elections are elected for various posts by the students</p>


      <br>
      <p>--> Finally, Staff Conducts surveys, conducts elections and GETS advices and feed back from students.</p>
    <div>


      <h3>Community Overview</h3>
      <p class="text-justify">

        Students are the main pillars for student Community.
        Staff are the key people who organize these sites for the usage of student users.Students can discuss about Elections,conduct surveys,provide assistance and 
        can know about the paticipants, can go on with discussions / forums through this Online Community.
        The students who participate in elections are known participants and those who gonna vote are known as voters.

        Voters Gonna vote for the right participants and elect them for different posts. 
        It is a secure Student Assistance platform that makes it easy to express students thoughts at a fraction of the usual cost. 
      </p>
    </div>
  </section>
  <hr/>


  <section>
  <h3>Questions about community</h3>
        <div class="card-body">
        <h4 class="card-title">1.What will people be able to learn about in the community that you’re building? Also,what work will people accomplish with your sytem?</h4>
        <p>Through this online community tasks below can be accomplished.</p>
        <ul>
                  <li>Student Community provides students a considerable opportunity to explore their interests on various aspects on campus</li>
          <li>Staff Conducts surveys, conducts elections and GETS advices and feed back from students.</li>
          <li>People can know about the participants and the posts they have applied for</li>
          <li>They can discuss and they can get their support from the staff</li>
          <li>People can accomplish voting through a supportive way</li>
                    <li>Students can discuss about Elections, can know about the paticipants, can go on with discussions / forums through this Online Community</li>
      </div>
    </div>

<br/>

    <div class="question-2 card">
      <div class="card-body">
        <h4 class="card-title">2. What do you want people to say about the service after a visit?</h4>
        <p>We like people to say as </p>
        <ul>
           <li>Easy to use</li>
          <li>It's Safe and secure </li>
          <li>Contented</li>
          <li>More collaborative work</li>
        </ul>
      </div>
    </div>

    <br/>

    <div class="question-3 card">
      <div class="card-body">
        <h4 class="card-title">3. What are the relevant distinct user classes?</h4>
        <p>The relevant user classes that are distinct :</p>
        <ul>
          <li>Admin</li>
          <li>Staff</li>
          <li>Students</li>
        </ul>
      </div>
    </div>

    <br/>


    <div class="question-4 card">
      <div class="card-body">
        <h4 class="card-title">4. What should a user on a smartphone be able to do?</h4>
        <p>User on a Smartphone can be able to do tasks :</p>
        <ul>
          <li>
            <p>	Students can do</p>
            <ul>
              <li>view Campus issues</li>
              <li>Give feedbacks</li>
            </ul>
          </li>
          <li>
            <p>Staff can do</p>
            <ul>
              <li>view students details</li>
              <li>Conduct disscussions</li>
              <li>Arrange elections</li>
              <li>Provide Support</li>
            </ul>
          </li>
          <li>
            <p>Admin can </p>
            <ul>
              <li>Check through Students biodata</li>
              <li>Can reply to others via comments</li>
              <li>Post their valuable thoughts on different Aspects</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <br/>

  </section>

  <hr/>

  <section>
    <h3>Profiles of Users and Usage Scenarios</h3>
    <br>
    <ul>
  
      <li>Click here ----><a href="http://[::1]:3000/ps3/paticipant"> participants</a></li>
      <br>
            <li>Click here ----><a href="http://[::1]:3000/ps3/staff">Staff</a></li>
          <br>
                        <li>Click here ----><a href="http://[::1]:3000/ps3/student">	Students</a></li>
            <br>
    </ul>
    
  </section>

  <hr/>


 <section>
    <h4>Offline Alternatives</h4>
    <p>This is much easy and secure way to use online application instead of offline services because this online community helps in automation.</p>
    <p>Feedback can be held in a fair process</p>
    <p> Thus, in order to overcome the above challenges, it is a best option to use web application in this case. </p>


    <h4>Online Alternatives</h4>
    <p> There are similar platforms that perform students assistance online such as optavote.com, surunner.com</p>
    <br>
    <P>-SOME OF THE USE CASES THAT MAKES OUR COMMUNITY CONTRAST TO OTHER ARE:</P>
     <p>-Coordinating events and activities for students</p>
         <p>-Being the voice of students</p>
             <p>- Allocating funds to other student organizations on campus</p>
                 <p>-Providing forums for discussions of students problems</p>
                 <p>-Hence, this community is different in the use case scenario for the election of students.</p>
  </section>

  <hr/>

  <section>
    <h4>Our Magnet Content</h4>
    <p>
     Students are the main pillars for student Community.
        Staff are the key people who organize these sites for the usage of student users.
        Students can discuss about Elections,conduct surveys,get assistance and 
        give feedback through comments, can go on with discussions / forums through this Online Community.Being the voice of students.Providing blog for discussions of students problems.
       We’re here to give you support when you need us, care about the things you care about,
 and fight for you when need someone in your corner.
 Our job is to make sure you feel supported every day..It is a secure Student Assistance platform that makes it easy to express students thoughts at a fraction of the usual cost.
    </p>
  </section>	 
 
  <hr/>


<section>
    <h4>Setup dumps at 2 A.m every morning</h4>



    <p>Create cron job to run every day at 1 AM.

    </p>

  </section>
  <hr/>
  <section>
    <h3>Plan for Hosting</h3>
    <p>Our community can be used in business purposes for Students Assistance,Community ,conducting elections online. It is much more cost-efficient ,It is suitable to be handled by the third party server for hosting,organization such as Heruko . But, in the future it can also be deployed in AIT CSIM Server. Finally, if anyone wants to use our community , they need not maintain a server , infrastructure to host the community.
    </p>
  </section>
  <hr/>


  <section>
    <h3>Intellectual Property Rights</h3>
    <pre>
    Copyright (c) 2022 Deepak kasyapa.

    This program is developed as a project of the AIT Full Stack Application Development Course.
    Mr. Deepak kasyapa is the developer,authors and contributors of this program. 
    All rights reserved to Deepak kasyapa.


    It is under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    
  </pre>
  </section>

  <hr/>


  <hr/>

  <br/>
</div>

















