<h1>Participants</h1>
<html>
<head>
<style>
::marker { 
  color: blue;
}
</style>
<p><b>Details of participant class users </b></p>
</head>
<body>
<br>
<%= image_tag 'participant-logo-424E7847B1-seeklogo.com.png', alt: "Participants", class: 'img-responsive', width: 300, height: 300 %>
<br>
<ul>
  <li>Name:  Joe Biden</li>
  <li>Age:  25, married</li>
  <li>Address: shared Victorian house in haryana,; hip but
cheap neighborhood</li>
  <li>Occupation:  Personal Trainer for rich people in India
part-time job as dog walker for folks in the neighborhood
  </li>
<li>Income:  $1,000/year</li>
<li>Flying Experience:  3 intro lessons 2 years ago</li>
<li>Short-term Goal:  Obtain a Private Pilot certificate</li>
<li>Long-term Goal: Become a career airline pilot, starting out as a
regional jet first officer (copilot) with a commuter airline.</li>
<li>Immediate Questions:  Where to find a good rental airplane and
instructor at the Oakland Airport?  Is it better to take 3 weeks off
work and do nothing but flight training or to stretch out the lessons
over many months?  What are the most helpful books?

</li>
<li>Other Interests:  Music clubs, biking, travel to Mexico
(esp. kayaking in Baja), Spanish language

</li>
<li>Computer: 3-year-old Macintosh given to her by a customer ("it
doesn't fit the new decor"), runs OS 9 and crashes when viewing complex
Web pages or multimedia; 384Kbps DSL line and network-address
translating router shared by all members of household


</li>


</ul>

</body>
</html></h1>
