<h1>Staff</h1>
<html>
<head>
<style>
::marker { 
  color: blue;
}
</style>
<p><b>Details of staff class</b></p>
</head>
<body>
<br>
<%= image_tag 'index.png', alt: "staff", class: 'img-responsive', width: 300, height: 300 %>
<br>
<ul>
  <li>Name: Sunak </li>
  <li>Age:  35, married</li>
  <li>Address: kurnool in Andhra Pradesh in India,; hip but
cheap neighborhood</li>
  <li>Occupation:  Personal Body guard for rich people in India
part-time job as dog walker for folks in the neighborhood
  </li>
<li>Income:  $41,000/year</li>
<li>Flying Experience:  4 intro lessons 1 years ago</li>
<li>Short-term Goal:  Obtain a Private Pilot certificate</li>
<li>Long-term Goal: Become a career airline pilot, starting out as a
regional jet first officer (copilot) with a commuter airline.</li>
<li>Immediate Questions:  Where to find a good rental airplane and
instructor at the Oakland Airport?  Is it better to take 3 weeks off
work and do nothing but flight training or to stretch out the lessons
over many months?  What are the most helpful books?

</li>
<li>Other Interests:   biking, travel to Mexico
(esp. kayaking in Baja), Spanish language

</li>
<li>Computer: 4-year-old Macintosh given to her by a customer ("it
doesn't fit the new decor"), runs OS 9 and crashes when viewing complex
Web pages or multimedia; 384Kbps DSL line and network-address
translating router shared by all members of household


</li>


</ul>

</body>
</html></h1>
