<h1>Student</h1>
<html>
<head>
<style>
::marker { 
  color: blue;
}
</style>
<p><b>Details of Student class</b></p>
</head>
<body>
<br>
<%= image_tag 'studnetf.png', alt: "voter", class: 'img-responsive', width: 500, height: 300 %>
<br>
<ul>
  <li>Name: nithin</li>
  <li>Age:  15, never married</li>
  <li>Address: Himachal Pradesh in Australia;</li>
  <li>Occupation:  Student in India
part-time job as dog walker for folks in the neighborhood
  </li>
<li>Income:  1,000/year</li>
<li>Flying Experience:  1 intro lessons 1 years ago</li>
<li>Short-term Goal:  Obtain a Private Pilot certificate</li>
<li>Long-term Goal: Become a career airline pilot, starting out as a
regional jet first officer (copilot) with a commuter airline.</li>
<li>Immediate Questions:  Where to find a good rental airplane and
instructor at the Oakland Airport?  Is it better to take 3 weeks off
work and do nothing but flight training or to stretch out the lessons
over many months?  What are the most helpful books?

</li>
<li>Other Interests:   biking, travel to Mexico
(esp. kayaking in Baja), french language

</li>
<li>Computer: 1-year-old Macintosh given to her by a customer ("it
doesn't fit the new decor"), runs OS 9 and crashes when viewing complex
Web pages or multimedia; 384Kbps DSL line and network-address
translating router shared by all members of household


</li>


</ul>

</body>
</html></h1>
