<div class="site-content__main">
    <article class="article">   
      <p class="content-summary">
    The Students’ Union offers a range of opportunities to help you look after your wellbeing and engage with the university community and beyond.&nbsp;</p>

    
    
    
            <p>The Students’ Union  is a democratic, student led organisation, governed by students you elect and according to policy you decide. As a student, you’re automatically a member and have an equal say in everything it does.</p><p><a href="">Find out more about the Students' Union </a></p><h2 class="heading">Support services</h2><h3 class="heading">Advice Service</h3><p>The service offers a free, confidential and independent advice and support service to students enrolled on a programme of study at UCL. A team of experienced caseworkers can give you advice about following:&nbsp;</p><ul><li>academic matters, including examination irregularities and student complaints</li><li>housing problems, including contract check and housemate disputes</li><li>empoyment issues, including unpaid wages and part time employment contracts</li><li>many other legal and university matters</li></ul><p><a href="">Find out more about the&nbsp;Advice Service&nbsp;</a></p><h2 class="heading">Opportunities to get involved</h2><h3 class="heading">Clubs and Societies</h3><p>There are more than 250 clubs and societies with thousands of students joining up every year. These student run groups enable you to meet peers with similar interests to yours, follow an interest that is already an important part of your life or spend time doing something you have never tried before.</p><p><a href="">Find out more about clubs and societies</a></p><h3 class="heading">Project Active</h3><p>Project Active is a great way to look after your wellbeing, improve your fitness and stay healthy. You can access a wide range of beginner friendly opportunities to stay active, try something new and meet new people.</p><p><a href="">Find out more about Project Active</a></p><h3 class="heading">Volunteering&nbsp;</h3><p>Volunteering can be a big part of student life. Volunteering is widely recognised to have a positive impact on the volunteer’s personal wellbeing. This is because it allows you to help others, become part of the local community, make new friends and learn new skills.</p><p>Volunteering doesn’t need to take a lot of your time and the Volunteering Service can help you find the right opportunities for you.</p><p><a href="">Find out more about the Volunteering Service&nbsp;</a></p>    
    
    
 
          </article>
  </div>
