

<h1>PS2</h1>
<h1>Quotations</h1>
<!--<p>Find me in app/views/quotations/main.html.erb</p>-->
<h2>New Quotations</h2>
<br><br>
<a href="http://[::1]:3000/ps2/two">Create New</a> 
<br><br>
<form action="/action_page.php">
  <label for="category">New category:</label>
  <input type="text" id="category" name="category"><br><br>
  <input type="submit" value="Submit">
</form>
<br><br>
<h3>Do you want to Update </h2>
<a href="http://[::1]:3000/ps2/two">Update</a> 
<br><br>
<h4>Do you want to Delete</h2>
<a href="http://[::1]:3000/category">Delete</a> 
<br>
<h5>Enter the Query word</h2>
<a href="http://[::1]:3000/ps2/two">Author Name</a> 
<p>
“I feel like those Jewish people in Germany in 1942.” 
<br>
Author -- (Ted Turner, on being prevented from buying another TV station)
</p>
<br>
 <p>“If a man speaks in the forest and there is no woman there to hear him, is he still wrong?”
<br>
Author -- (Unknown Heroine)
</p>
 
<br>

<br><br>

  <%= link_to 'Add User', 'http://[::1]:3000/ps2/two', class: 'btn btn-danger'%><br><br>
    <%= link_to 'Edit User', 'add_user', class: 'btn btn-danger'%><br><br>
      <%= link_to 'Ban User', 'add_user', class: 'btn btn-danger'%><br><br>
